!!! 5
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0')
    link(rel='stylesheet', href='/style.css')

  body
    h1 DEVICE MOTION

    button#ini initialize

    div#st1.status
    div#st2.status
    div#st3.status

    h2 ACCELERATION
    p#ac0
    p#ac1
    p#ac2

    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='/script.js')

